version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    working_dir: /var/www

    volumes:
      - ./:/var/www

    networks:
      - laravel

  web:
    image: nginx:alpine

    ports:
      - "8000:80"

    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d

    networks:
      - laravel

networks:
  laravel:
    driver: bridge
