services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tdd-app
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - /var/www/vendor
    depends_on:
      - mysql
      - redis
    networks:
      - laravel

  web:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - laravel

  nginx:
    image: nginx:stable-alpine
    container_name: tdd-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel
    depends_on:
      - app

  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_DATABASE: laravel # Tên database
      MYSQL_ROOT_PASSWORD: secret # Mật khẩu root (chỉ dùng trong môi trường dev)
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - my_custom_db_data:/var/lib/mysql
    networks:
      - laravel

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    networks:
      - laravel

  adminer:
    image: adminer:latest
    container_name: tdd-adminer
    ports:
      - "8080:8080" # Truy cập Adminer qua cổng 8080 trên máy Host
    networks:
      - laravel
    depends_on:
      - mysql

networks:
  laravel:
    driver: bridge

volumes:
  my_custom_db_data:
    driver: local
